html,body { margin: 0; padding: 0; }
#player {
    background-image: url(megumin.gif), url(chibimin.gif), url(madoka.gif);
    background-position: left top, right bottom, right top;
    background-repeat: no-repeat, no-repeat, no-repeat;
}
#slidercontainer { width: 100% }
#slider { width: 99.7%; }
